---

- name: "Create host storage area at {{ storage_base }}"
  become: yes
  file:
    path: "{{ storage_base.path | default(storage_base) }}"
    owner: "{{ storage_base.owner | default(ansible_user_id) }}"
    state: directory
    mode: "{{ storage_base.mode | default('0777') }}"
  when: storage_base is defined and storage_base is not none
