---

- name: "Assert interface {{ public_iface}} defined as public_iface exists on host"
  assert:
    that:
      - public_iface in ansible_interfaces
    fail_msg: "{{ public_iface}} is not detected on {{ ansible_host }}. Ensure interface is correctly defined for host"
    success_msg: "public_iface set to {{ public_iface }}"
  when: public_iface is defined

- name: "Assert interface {{ cluster_iface }} defined as cluster_iface exists on host"
  assert:
    that:
      - cluster_iface in ansible_interfaces
    fail_msg: "{{ cluster_iface}} is not detected on {{ ansible_host }}. Ensure interface is correctly defined for host"
    success_msg: "cluster_iface set to {{ cluster_iface }}"
  when: cluster_iface is defined

- name: Assert required services are installed and running
  block:

  - name: Get services running on host
    import_tasks: get-host-services.yml

  - name: Assert necessary services are installed and running
    assert:
      that:
        - "item.name in ansible_facts.services"
        - ansible_facts.services[item.name]['state'] == item.state
      fail_msg: "Service {{ item.name }} must be in state {{ item.state }}"
      success_msg: "Service {{ item.name }} is in state {{ item.state }}"
    with_items: "{{ required_service_states }}"

  when: required_service_states is defined and (required_service_states | length > 0 )
